/* index.css tendrá solo el carousel y las noticias */
/* Este margin-top es para la clase h2 de bootstrap*/
h2.text-center.text-uppercase.fw-bold {
    margin-top: 5%;
}

.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}