.equipo h2,
.comentarios h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.miembro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.miembro-grid details {
    background-color: #00364d;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.miembro-grid p{
    color: white;
}

.miembro-grid details:hover {
    transform: scale(1.02);
}

.comentario-guardado {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: white;
}

.borrar-comentario {
    background-color: red;
    border-radius: 8px;
    margin-top: 10px;
}

.borrar-comentario:hover {
    background-color: darkred;
}

@media (max-width: 768px) {
    .miembro-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .miembro-grid details:hover {
        transform: none;
    }
}
