.equipo h2,
.cuenta-regresiva h2,
.comentarios h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.miembro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.miembro-grid details {
    background-color: #00364d;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.miembro-grid p{
    color: white;
}

.miembro-grid details:hover {
    transform: scale(1.02);
}

.cuenta-regresiva {
    text-align: center;
}

.cuenta-regresiva .cronometro {
    font-size: 1.5rem;
    color: red;
}

@media (max-width: 768px) {
    .miembro-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .miembro-grid details:hover {
        transform: none;
    }
}
