/* Tienda-layout lo que hace es dividir la vista en 2 zonas, por un lado primera columnas, TODOS LOS PRODUCTOS,
por otro lado, segunda columna, EL CARRITO, porque sino no se podría hacer lo del carrito en fixed
y si el carrito no es fixed no se podrían arrastrar los elementos de más abajo.
Básicamente sirve para que pueda existir el espaciado interno entre los productos y el carrito y no se superponga todo.
 */
.tienda-layout {
    display: flex;
    padding: 20px;
}

/* Si no le metemos el margin-right los productos se comerían el carrito*/
.elementos_listables {
    margin-right: 280px;
}

/* Carrito a la derecha en fixed y con posibilidad de que haya un scroll interno */
.carrito-flotante {
    position: fixed;
    top: 50px; /*Para que no toque con el header*/
    right: 0px; /*Para que esté a la derecha*/
    width: 280px;
    padding: 20px; /* Espacio interno de los elementos*/
    background-color: #00364d;
    opacity: 0.95;
    text-align: center;
    overflow-y: auto; /* Para añadir la barra lateral dentro del carro*/
    max-height: 80vh; /* Si no se define tamaño máximo, se desborda y nunca se aplica el overflow-y*/
    transition: background-color 0.3s ease;
    z-index: 2; /*Para que esté por encima del mapa si diese el caso*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

/* Propiedades de los elementos internos del carrito*/
.carrito-flotante table {
    width: 100%;
    font-size: 0.9rem;
    color: white;
}

.carrito-flotante td {
    padding: 5px;
}

.carrito-flotante p {
    color: white;
}

.carrito-flotante button {
    background-color: transparent;
}

#comprar-flotante {
    background-color: white;
    color: #00364d;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    margin-top: 1em;
}

.elementos_listables .elemento button,p,h3 {
    margin-top: auto;
}


#comprar-flotante:hover {
    background-color: #00364d;
    color: white;
}

@media (max-width: 768px) {
    .tienda-layout {
        flex-direction: column;
    }

    .elementos_listables {
        /* margin-right ya no es necesario porque el carrito estará en bottom, por lo que si se mantuviese habría un hueco vacío a la derecha.
        La existencia de este margin-right era importante para que no se superponga el carrito encima de los productos en la vista para PC
        */
        margin-right: 0;
    }

    .carrito-flotante {
        top: auto;              /* Quitamos el top que en PC es de 50px */
        bottom: 0;              /* Para pegarlo a abajo */
        width: 100%;
        max-height: 40vh;       /* 40vh en vez de 80vh, porque en móvil la pantalla es más pequeña */
    }
}